<footer>
    <div class="f-info ">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/zuck/"  target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/willsmith/"  style="color:#cd486b;" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/prathamesh-edlawar-1615a9350" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
              </a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/private">Privacy</a>

            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
